<div class="container" style="margin-top: 70px;">
    <table class="table table-stripped">
    <thead class="list ">
    <th>costumer Number</th>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile</th>
    <th>Info</th>
    <th>Location</th>
    <th>Actions</th>
    </thead>
    <tbody>
    <tr *ngFor="let cos of costumer;">
    <td>{{cos.id}}</td>
    <td>{{cos.name}}</td>
    <td>{{cos.email}}</td>
    <td>{{cos.mobile}}</td>
    <td>{{cos.info}}</td>
    <td>{{cos.Location}}</td>
    <td>
        <button type="button" class="btn btn-primary me-2" data-bs-toggle="modal" data-bs-target="#edit" (click)="selectItem(cos)">
            Edit
          </button>
    <button (click)="deleteContact(cos)" class="btn btn-danger">
    Delete</button>
    </td>
    </tr>
    </tbody>
    </table>
    </div>






  <!--


    //--ADD costumer
  -->



<div class="container" style="margin-top: 70px;">
    <div class="text-center"><h1>Add a New Contact</h1></div>
    <div style="width:50%;margin:0 auto">
      <form [formGroup]="addcForm" novalidate class="form">   
        
        <div class="row">
          <div class="col-md-6">Name</div>
          <div class="col-md-6"><input type="text" class="form-control"
name="name" formControlName="name"></div>
        </div>
        <div class="row">
          <div class="col-md-6">Email</div>
          <div class="col-md-6"><input type="text" class="form-control"
name="email" formControlName="email"></div>
        </div>

        <div class="row">
            <div class="col-md-6">Mobile</div>
            <div class="col-md-6"><input type="number" class="form-control"
  name="mobile" formControlName="mobile"></div>
          </div>

          <div class="row">
            <div class="col-md-6">Information</div>
            <div class="col-md-6"><input type="text" class="form-control"
  name="info" formControlName="info"></div>
          </div>

        <div class="row">
          <div class="col-md-6">Location</div>
          <div class="col-md-6"><input type="text" class="form-control"
name="location" formControlName="location"></div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-success"   (click)="onSubmitaddc()">ADD
costumer</button>
            </div>
        </div>
      </form>
    </div>
  </div>


  <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="editLabel" aria-hidden="true" >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-danger" id="editLabel">Edit Form</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="editcostumerForm" (ngSubmit)="onEdit()" >
            

            <div class="mb-3">
              <label for="name" class="form-label">Name</label>
              <input type="text" class="form-control" formControlName="name" id="name" aria-describedby="named" >
              <div id="named" class="form-text">  name</div>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" formControlName="email" id="email" aria-describedby="emaild" >
                <div id="emaild" class="form-text">  email</div>
              </div>

              <div class="mb-3">
                <label for="mobile" class="form-label">Mobile</label>
                <input type="number" class="form-control" formControlName="mobile" id="mobile" aria-describedby="mobiled">
                <div id="mobiled" class="form-text">  mobile number</div>
              </div>

              <div class="mb-3">
                <label for="info" class="form-label">Information</label>
                <input type="text" class="form-control" formControlName="info" id="info" aria-describedby="infod" >
                <div id="infod" class="form-text">information</div>
              </div>

              <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <input type="text" class="form-control" formControlName="location" id="location" aria-describedby="locationd" >
                <div id="locationd" class="form-text">Location</div>
              </div>

            <button type="button" class="btn btn-primary">Edit</button>



          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>